/* Draft.js Editor Styles */
.DraftEditor-root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 1.6;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: auto;
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.public-DraftStyleDefault-block {
  margin: 0.5em 0;
}

/* Headings */
.public-DraftStyleDefault-h1 {
  font-size: 24pt;
  font-weight: bold;
  margin: 1em 0 0.5em;
}

.public-DraftStyleDefault-h2 {
  font-size: 18pt;
  font-weight: bold;
  margin: 0.8em 0 0.4em;
}

.public-DraftStyleDefault-h3 {
  font-size: 14pt;
  font-weight: bold;
  margin: 0.6em 0 0.3em;
}

/* Lists */
.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin: 0.5em 0;
  padding-left: 2em;
}

.public-DraftStyleDefault-unorderedListItem {
  list-style-type: disc;
  margin: 0.25em 0;
}

.public-DraftStyleDefault-orderedListItem {
  list-style-type: decimal;
  margin: 0.25em 0;
}

/* Placeholder */
.public-DraftEditorPlaceholder-root {
  color: #999;
  position: absolute;
  pointer-events: none;
}

/* Selection */
.public-DraftEditor-content ::selection {
  background-color: #b4d5fe;
}
